services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5025:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
    container_name: devops-api
    restart: unless-stopped
